        <header>
            <h1>EXAMEN FINAL - DESARROLLO WEB</h1>
            <nav class="navbar">
                <ul>
                    <li><a href="/">Pagina principal</a></li>
                    <li><a href="/electricos">Electricos</a></li>
                    <li><a href="/gasolina">Gasolina</a></li>
                    <li><a href="/diesel">Diesel</a></li>
                </ul>
            </nav>
        </header>