<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vehículos de Gasolina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../essets/css/estilos.css">
    </head>
    <body>

        {{> header}}

        <h1>VEHÍCULOS DE GASOLINA</h1>
        <h2>¿Qué son los vehículos de gasolina?</h2>
        <section class="parrafo">
            <p>Los vehículos de gasolina son aquellos que funcionan mediante un motor de combustión interna que utiliza gasolina como combustible. Estos vehículos son los más comunes en las carreteras y han sido durante décadas la principal opción de transporte en todo el mundo.</p>

            <p>La combustión de gasolina produce energía que impulsa el motor, lo que permite que el vehículo se desplace. Aunque ofrecen un buen rendimiento y son fáciles de encontrar, los vehículos de gasolina también son responsables de emisiones de gases contaminantes que afectan al medio ambiente.</p>

            <p>En los últimos años, la industria automotriz ha comenzado a innovar en tecnologías más limpias y eficientes, pero los vehículos de gasolina siguen siendo muy populares debido a su accesibilidad y la infraestructura existente.</p>
        </section>
        <br><hr>
        <h2>Tipos de vehículos de gasolina</h2>
        <section class="parrafo">
            <p>
                Los vehículos de gasolina se dividen en varias categorías según su diseño y uso. A continuación, se presentan los tipos más comunes:
            </p>
            <ul>
                <li>
                    <strong>Autos sedán:</strong> son vehículos de cuatro puertas que ofrecen comodidad y eficiencia. Son ideales para el transporte familiar y viajes urbanos.
                    <img title="auto sedan" src="">
                </li>
                <li>
                    <strong>SUVs (Vehículos Utilitarios Deportivos):</strong> combinan características de vehículos de pasajeros y de carga, ofreciendo espacio y potencia, ideales para familias y aventuras al aire libre.
                    <img title="SUV" src="">
                </li>
                <li>
                    <strong>Camionetas:</strong> diseñadas para transportar carga, son populares por su versatilidad y capacidad de remolque. Son ideales para trabajos y actividades recreativas.
                    <img title="camioneta" src="">
                </li>
                <li>
                    <strong>Deportivos:</strong> estos vehículos están diseñados para ofrecer un alto rendimiento y velocidad, ideales para entusiastas de la conducción.
                    <img title="auto deportivo" src="">
                </li>
            </ul>
            <p>
                A pesar de la creciente preocupación por el medio ambiente, los vehículos de gasolina continúan siendo una opción popular debido a su disponibilidad y el deseo de los consumidores por opciones de transporte confiables y eficientes.
            </p>
        </section>

        {{> footer}}
    </body>
</html>